body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1300;
}

#top {
  position: fixed;
  top: 0;
  padding: 5px 15px 5px 5px;
  width: 100%;
  /* background-color: #333; */
  color: #eee;
  font-size: 0.9rem;
  z-index: 1300;
}



#top .top-left div {
  margin-left: 15px;
  text-align: right;
  cursor: default;
}

#top .top-left div span:first-child {
  text-transform: uppercase;
  font-size: 0.6rem;
  opacity: 0.7;
}

#top .top-left div span:last-child {
  display: block;
  margin-top: -7px;
  font-size: 0.8rem;
}

#top .logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  /* border: 1px solid #f00; */
}

#top .logo a {
  color: #fff;
}

#top .logo img {
  max-height: 40px;
}

#top .logo span {
  font-size: 1.3rem;
  font-weight: 700;
}

#top .logo sup {
  position: fixed;
  margin-top: 5px;
  margin-left: -2px;
  font-size: 0.5rem;
  text-transform: uppercase;
}



aside {
  display: flex;
  flex-direction: column;
  -moz-box-pack: justify;
  justify-content: space-between;
  position: fixed;
  left: 0;
  height: 100vh;
  padding: 60px 0 10px 0;
  background-color: #333;
  width: 60px;
}

aside>div:last-child {
  margin-bottom: 50px;
}

aside .side-menu-item {
  padding: 8px 0;
  text-align: center;
}

/* aside .side-menu-item:hover {
  border-left: 3px solid green;
} */

aside a {
  color: #ccc;
  transition: all 0.3s;
}

aside a:hover {
  /* color: #64bdac; */
}

#menu {
  padding: 15px;
  background-color: #333;
  color: #eee;
}

#menu a {
  display: inline-flex;
  padding: 0 10px;
  font-size: 1.2rem;
  color: #ccc;
  transition: all 0.3s;
}

#menu a:hover {
  color: #64bdac;
}

#search {
  width: 100%;
}

#submenu {
  padding: 5px 20px;
  background-color: #64bdac;
  color: #333;
  /* text-align: right; */
}

#submenu span {
  display: inline-flex;
  padding: 0 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#submenu a {
  display: inline-flex;
  /* font-size: 1.2rem; */
  color: #eee;
  transition: all 0.3s;
}

#submenu a:hover {
  color: #fff;
}

#main {
  margin-top: 48px;
  margin-left: 60px;
  margin-bottom: 20px;
  padding: 5px 15px;
  height: calc(100vh - 70px);
}

#main svg {
  opacity: 0.8;
}

#main svg:hover {
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 4px 15px;
  background-color: #222;
  font-size: 0.8rem;
  /* text-transform: uppercase; */
  z-index: 1300;
}

footer span {
  opacity: 0.8;
  cursor: default;
}

footer span:hover {
  opacity: 0.6;
  cursor: default;
}

.key-item svg:last-child {
  display: none;
  transition: all, 0.3s;
}

.key-item:hover svg:last-child {
  display: inline-flex;
  transition: all, 0.3s;
}

.key-item>div>div:first-child {
  opacity: 0.6;
}

.key-item>div>div.active {
  opacity: 1;
}

.key-item .edit-btn {
  opacity: 0.6;
}

.key-item .edit-btn:hover {
  opacity: 1;
}

#status-message {
  transition: all 0.3s;
}


.tab-button-group {
  position: fixed;
  bottom: 45px;
}


.search-result-block ul {
  padding-bottom: 2px;
}

.search-result-footer {
  /* padding-top: 15px; */
  float: right;
}

.search-result-footer span {
  margin: 0 4px;
  border-radius: 4px;
  padding: 0 2px;
  font-size: 0.8rem;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.search-item-name {
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.long-string {
  /* margin-right: 5px; */
  float: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.long-string-left {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-item-name span {
  display: inline;

}

.page-header {
  /* margin-top: -10px; */
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.tabs-panel {
  position: fixed;
  top: 46px;
  width: 100%;
  z-index: 999;
}

.memory-cell {
  display: inline-block;
  /* margin: 0 2px; */
  /* width: 15px;
  height: 15px; */
  padding: 0 2px;
  width: 6%;
  height: 6%;
  cursor: pointer;
}

.memory-cell:hover {
  opacity: 0.8;
}

.memory-cell > div {
  margin: 0 1px;
  /* min-height: 17px; */
  border-radius: 2px;
  font-size: 0.6rem;
  text-align: center;
  /* color: #666; */
}

.dotted::after{
  content: "...............................................................................................";
  letter-spacing: 2px;
  display: block;
  /* font-size: 18px; */
  margin-left:30px;
  white-space: nowrap;
  overflow: hidden;
}

.dotted {
  position: relative;
  display: block;
  overflow: hidden;
}

/* .dotted::after{
  content: '';
  position: absolute;
  bottom: .35em;
  width: 100%;
  border-bottom: .1em dashed;
} */

.table-striped tr:nth-child(odd) td {
  filter: brightness(85%);
  background-color: rgba(2,2,2, 0.1);
}

.table-striped th {
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.table-striped tr td {
  border: none;
}

.table-striped-with-head tr:nth-child(even) {
  filter: brightness(85%);
  background-color: rgba(2,2,2, 0.1);
}

.table-striped-with-head th {
  filter: brightness(85%);
  background-color: rgba(2,2,2, 0.1);
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.table-striped-with-head tr td {
  border: none;
}

tr > td:first-child {
  text-transform: uppercase;
  font-size: 0.8rem;
  opacity: 0.8;
}